# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Logs
*.log

# Pillow HEIF cache (se estiver usando pillow_heif)
*.heic_cache/

# Tesseract temporary files (caso crie temporários)
tmp/

# Arquivos gerados pelo Render ou por serviços CI/CD (se houver)
.render/

# Arquivos do sistema Windows
Thumbs.db
ehthumbs.db
