<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validador de alergias - Moffy</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  
  <body>
    <div id="container">

      <img height="256" width="256" src="/static/images/irritacao-na-pele.png" alt="">
      <h1>Vamos validar se você tem alergias moffy!</h1>
      
      <p>Digite abaixo um dos componentes, e se precisar adicione mais campos no botão "Adicionar um novo componente".</p>
      
      <form action="/" method="post" id="components-form" enctype="multipart/form-data"> 
        <input type="text" name="components[]" placeholder="Insira um componente...">
        <button type="submit">Checar!</button>

        <label for="image">Clique aqui para carregar uma imagem</label>
        <input type="file" name="image" id="imageInput" accept="image/*">
      </form>
      
      <button type="button" name="increase_allergy" onclick="increaseAllergy()">Adicionar um novo componente</button>
    
    </div>
    
    <script type="text/javascript" src="/static/script.js"></script>
  </body>

</html>